@use "mixins" as mix;
@use "variables" as var;

.content {
  background: url(../assets/bg-index.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  .alert-container {
    width: 200px;
    height: 50px;
    background: red;
    border-radius: 25px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeOut 3s ease-out;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    z-index: 10;
  }
  @-webkit-keyframes fadeOut {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @-moz-keyframes fadeOut {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @-o-keyframes fadeOut {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
  #empty-basket {
    @include mix.desktop {
      width: 60%;
    }
    background-color: var.$christmas-green;
    width: 90%;
    margin: 25px auto -25px auto;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    z-index: 1;
  }
  .productsContainer {
    @include mix.desktop {
      position: relative;
      display: flex;
      flex-flow: row wrap;
      width: 60%;
      column-gap: 25px;
      row-gap: 25px;
      z-index: 10;
    }
    flex-direction: column;
    background-color: var.$christmas-green;
    width: 90%;
    margin: 25px auto 0 auto;
    color: white;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    height: auto;
    .productInCartCheckout {
      @include mix.desktop {
        width: 20%;
        margin-left: 30px;
        margin-right: 0px;
      }
      @include mix.flexCenter;
      flex-direction: column;
      background-color: #ffffff;
      color: black;
      width: 80%;
      margin: 25px auto 25px auto;
      border-radius: 25px;

      &__image {
        width: 100px;
      }

      &__title {
        margin-top: 15px;
        margin-bottom: 5;
        font-family: var.$text-secondary;
      }

      &__price {
        margin: 0;
      }

      &__amount {
        background-color: #fff;
        padding: 0px 5px 0px 5px;
        border-radius: 50%;
      }
    }
  }

  .productInCartButtonContainerCheckout {
    display: flex;
    column-gap: 10px;
    margin-bottom: 20px;
    margin-top: 5px;
    .productInCartButton {
      &__plus,
      &__minus {
        @include mix.amountButtons;
      }
    }
  }

  .checkout {
    @include mix.desktop {
      width: 60%;
    }
    width: 90%;
    height: auto;
    background-color: var.$christmas-green;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    margin: -10px auto 30px auto;
    form {
      @include mix.desktop {
        margin-left: 25px;
        grid-template-columns: 0.25fr 0.25fr;
        grid-template-rows: 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr;
      }
      display: grid;
      padding: 10px;
      margin-left: 7%;
      text-align: left !important;
      grid-auto-flow: column;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      gap: 0px 0px;
      place-items: left;
      grid-template-areas:
        "fname-text lname-text"
        "fname lname"
        "cc-text cc-text"
        "cc cc"
        "ccv-text submit-text"
        "ccv submit";
      input {
        @include mix.desktop {
          width: 50%;
        }
        width: 78%;
        border: none;
        outline: none;
        padding: 5px;
        border-radius: 5px;
        margin-bottom: 10px;
      }
      label {
        line-height: 35px;
      }
      input[type="submit"] {
        margin-left: 10px;
      }
      .purchase-button:hover {
        cursor: pointer;
      }
      .cc {
        @include mix.desktop {
          width: 75%;
        }
        width: 90%;
      }
    }
    .fname-text {
      grid-area: fname-text;
    }
    .lname-text {
      grid-area: lname-text;
    }
    .fname {
      grid-area: fname;
    }
    .lname {
      grid-area: lname;
    }
    .cc-text {
      grid-area: cc-text;
    }
    .cc {
      grid-area: cc;
    }
    .ccv {
      grid-area: ccv;
    }
    .submit {
      grid-area: submit;
    }
    .ccv-text {
      grid-area: ccv-text;
    }
    .submit-text {
      @include mix.desktop {
        font-size: calc(2px + 1vw);
      }
      font-size: calc(10px + 1vw);
      text-decoration: underline;
      margin-left: 10px;
      grid-area: submit-text;
    }
  }
}
