@use "variables" as var;

@mixin desktop {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin productAmount {
  border: 1px solid black;
  padding-right: 10px;
  padding-left: 10px;
  &:hover{
    cursor: pointer;
  }
}

//knappar för plus och minus
@mixin amountButtons {
  border-radius: 50%;
  border: 1px solid black;
  background-color: white;
  &:hover{
    cursor: pointer;
  }
}

//vanliga knappar
@mixin buttons {
  border-style: none;
  padding: 5px;
  border-radius: 10px;
  color: white;
  background-color: rgb(227, 95, 115);
  cursor: pointer;
  transition: 300ms;
  &:hover {
    background-color: rgb(255, 119, 139);
  }
}

@mixin offer-panel {
  display: flex;
  position: relative;
  width: 80%;
  height: auto;
  background-color: var.$christmas-green;
  margin: 0px auto 50px auto;
  border-radius: 10px;
  color: white;
  flex-direction: column;
  padding-bottom: 5px;
  h2 {
    margin: 10px auto;
  }
  img {
    width: 80%;
    margin: 0 auto;
  }
}
