@use "mixins" as mix;
@use "variables" as var;

.productdetailpage-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: var.$color-secondary-dark;
}

.productdetailpage {
  width: 60%;
  margin-top: 140px;
  margin-bottom: 70px;
  display: flex;
}

.productdetail {
  display: flex;
  flex-direction: column;
  width: 99%;
  margin: 30px;
  margin-bottom: 15px;

  @include mix.desktop {
    flex-direction: row;
    width: 40%;
    margin: 2px 30px 30px 30px;
  }

  &__image {
    width: 300px;
    padding: 10px;
    background-color: var.$product-background;
    cursor: pointer;

    &:hover {
      background-color: rgba(254, 221, 221, 0.702);
    }

    @include mix.desktop {
      width: 600px;
    }
  }

  &__paragraph {
    width: 60%;
    font-size: 10px;

    @include mix.desktop {
      scale: 2;
      align-self: flex-end;
      padding-left: 5px;
      margin-bottom: 20px;
      margin-left: 80px;
    }
  }

  &__title {
    font-family: var.$text-secondary;
    margin-bottom: 5;

    @include mix.desktop {
      scale: 2;
      align-self: flex-end;
      padding-left: 5px;
      margin-bottom: 20px;
      margin-left: 80px;
    }
  }

  &__price {
    margin-top: 0;
    margin-right: 102px;
    margin-bottom: 10px;

    @include mix.desktop {
      scale: 2;
      align-self: flex-end;
      margin-left: 70px;
      padding-left: 5px;
    }
  }

  &__buttonAddToCart {
    margin-right: 10px;
    border-style: none;
    padding: 3px 10px 3px 10px;
    border-radius: 5px;
    color: white;
    background-color: rgb(227, 95, 115);
    cursor: pointer;

    @include mix.desktop {
      scale: 2;
      align-self: flex-end;
      margin-left: 6px;
      width: 200px;
    }
  }
}
