@use "mixins" as mix;
@use "variables" as var;

.productpage {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 48%;
  margin: 2px;
  margin-bottom: 15px;

  &__image {
    width: 100px;
    padding: 20px;
    background-color: rgb(247, 228, 230);
    border-radius: 25px;
    border: 4px var.$christmas-green solid;
  }

  &__title {
    // margin-top: 15px;
    margin-bottom: 5;
    color: rgb(222, 72, 94);
  }

  &__price {
    margin: 0;
  }
}
