@use "mixins" as mix;
@use "variables" as var;

.productpage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: var.$color-secondary-dark;
}

.assortment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;

  &__heading {
    font-family: var.$text-secondary;
    margin-bottom: 0;
    font-weight: bold;
  }

  &__info {
    margin-bottom: 30px;
  }

  &__amount {
    align-self: flex-start;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: 10px;
  }
}

.productpage {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 43%;
  margin: 2px;
  margin-bottom: 15px;

  &__image {
    width: 100px;
    padding: 20px;
    background-color: var.$product-background;
    border-radius: 25px;
    border: 4px var.$christmas-green solid;
  }

  &__title {
    font-family: var.$text-secondary;
    align-self: flex-start;
    margin-left: 15px;
    margin-bottom: 5;
  }

  &__price {
    margin: 0;
    align-self: flex-start;
    margin-left: 15px;
    margin-bottom: 10px;
  }

  &__buttonAddToCart {
    align-self: flex-start;
    margin-left: 15px;
  }
}
