//färger
$color-primary: rgb(230, 108, 108);
$color-secondary-light: white;
$color-secondary-dark: black;
$christmas-green: #003a1b;
$dark-red: rgb(170, 0, 0);
$product-background: rgba(247, 247, 247, 0.934);
//fonts
$text-primary: Arial, Helvetica, sans-serif;
$text-secondary: Futura, Cambria, Cochin, Georgia, Times, "Times New Roman",
  serif;
